{% extends "base.html" %}
{% block page_content %}
{{ super() }}

<div class="container">
	{% if address_list|length==0 %}
	<div class="jumbotron bg-success text-center">
	<h2>你还没有添加地址哦 ~</h2>
	</div>
	{% endif%}

	<div class="row">
	{% set addr_i = 0 %}
	{% for address in address_list %}
		{% set addr_i = addr_i+1 %}
		{% if address.id == address_default %}
			{% set address_bg = "bg-success" %}
		{% else %}
			{% set address_bg = "bg-default" %}
		{% endif %}
		<div class="col-md-6 col-sm-12 {{ address_bg }}">
			<address>
				<h4><strong>地址 {{ addr_i }}</strong> {%if address.id==address_default%}<span class="label label-warning"> 首选地址 </span>{% endif %}</h4>
				{{ address.province }} {{ address.city }}  {{ address.district }}<br>
				{{ address.street}}<br>
				姓名 : <strong>{{ address.reciplents }}</strong><br>
				邮政编码 : {{ address.zip_code }}<br>
				电话 : {{ address.phone_number }}<br>
				
			</address>

			<a href="{{ url_for('mall.edit_address', id=address.id) }}" class="btn btn-success">
				<span class="glyphicon glyphicon-edit"></span> 修改地址
			</a>
			<a href="#" class="btn btn-danger">
				<span class="glyphicon glyphicon-trash"></span> 删除地址
			</a>
			{% if address.id != address_default %}
			<a href="{{ url_for('mall.default_address', id=address.id) }}" class="btn btn-default">
				<span class="glyphicon glyphicon-map-marker"></span>设为默认地址
			</a>
			{% endif %}
			<p></p>
		</div>

	{% endfor %}
	</div>
	<br>
	<div class="container">
		<a href="{{ url_for('mall.edit_address') }}" class="btn btn-info">
			<span class="glyphicon glyphicon-plus"></span> 添加新地址
		</a>
	</div>
	
</div>

{% endblock %}