{% extends "base.html" %}
{% block page_content %}
{{ super() }}

<div class="container">
	{% if address_list|length==0 %}
	<div class="jumbotron bg-success text-center">
	<h2>你还没有添加地址哦 ~</h2>
	</div>
	{% endif%}

	<div class="container row">
	{% for address in address_list %}
	<div class="col-md-6 col-sm-12">
		<div>
		<address>
			<p>{{ address.province }} {{ address.city }}  {{ address.district }}</p>
			<p>{{ address.street}}</p>
			<p>{{ address.reciplents }}</p>
			<p>{{ address.zip_code }} {{ address.phone_number }}</p>
		</address>
		<a href="{{ url_for('mall.edit_address', id=address.id) }}" class="btn btn-success">修改地址</a>
		<a href="#" class="btn btn-danger">删除地址</a>
		</div>
	</div>
	{% endfor%}
	</div>
	<br/>
	<a href="{{ url_for('mall.edit_address') }}" class="btn btn-info btn-lg">添加新地址</a>
</div>

{% endblock %}