{% extends "base.html" %}
{% block page_content %} 
{{ super() }}
<div class="row">
	<div class="col-md-6 col-sm-12">
		<a href="{{ url_for('mall.mall') }}">
		<img src="/static/imgs/cereals.jpg" class="img-responsive"/>
		</a>
		<br/>
	</div>
	<div class="col-md-6 col-sm-12">
		<a href="{{ url_for('mall.mall') }}">
		<img src="/static/imgs/noodles.jpg" class="img-responsive"/>
		</a>
		<br/>
	</div>
	<div class="col-md-6 col-sm-12">
		<a href="{{ url_for('mall.mall') }}">
		<img src="/static/imgs/salad.jpg" class="img-responsive"/>
		</a>
		<br/>
	</div>
</div>
{% endblock %}
