{% extends "base.html" %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap-datetimepicker.min.css')}}">
{% endblock %}

{% block page_content %}
{{ super() }}
<div class="container">

	<div class="panel panel-success">
		<div class="panel-heading">
			收货地址
		</div>
		
		{% if not address %}
		<div class="panel-body text-center">
			<p>请选择送餐地址 ~</p>
		</div>
		{% else %}
		<div class="panel-body">
			<address>
				{{ address.province }} {{ address.city }}  {{ address.district }}<br>
				{{ address.street}} <br>
				电话:{{ address.phone_number }} 邮编:{{ address.zip_code }}<br>
				收件人:<strong>{{ address.reciplents }}</strong>
			</address>
		</div>
		{% endif %}
		<div class="panel-footer">
			<a class="btn btn-success" href="{{ url_for('mall.select_address') }}">选择送餐地址</a>
		</div>

	</div>

	<div class="panel-success">
	<div class="panel-heading">
		<span class="glyphicon glyphicon-shopping-cart"></span> 购物车
		<button id="btn_clear" class="btn btn-warning btn-xs pull-right" type="button">清空购物车</button>
	</div>
		
	{% if empty_cart %}
	<div class="panel-body text-center">
		<p>您的购物车是空的，请选择商品 ~</p>
		<a class="btn btn-success" href="{{ url_for('mall.mall') }}">选择产品</a>
	</div>
	</div>

	{% else %}
	<table id="cart_table" class="table">
		<thead>
		<tr>
			<th><label>产品名称</label></th>
			<th><label>价格</label></th>
			<th><label>数量</label></th>	
		</tr>	
		</thead>
		
		<tbody>
		{% for product in products %}
		<tr id="{{ product[0].id }}">
			<td>{{ product[0].name }}</td>
			<td>每份{{ product[0].price }}元</td>
			<td>
				<button id="btn_sub" type="button" class="btn btn-info btn-xs"> - </button>
				<span class="btn btn-default btn-sm">{{ product[1] }}</span>
				<button id="btn_add" type="button" class="btn btn-info btn-xs"> + </button>
			</td>
		</tr>
		{% endfor %}
		</tbody>	
	</table>
	<div id="total_sum" class="panel-footer text-right">
		商品总价 : {{ total_sum }} 元
	</div>
	</div>
	{%endif%}

	<form action="{{ url_for('mall.add_order')}}" method="POST" id="add_order">

	<br/>
			<label>送餐日期 : </label>
           	<input name ="deliver_date" id="deliver_date" class="date form_date form-control" size="16" type="text" readonly></input>
			<label>送餐时间 : </label>
			<select name="deliver_time" class="form-control selectpicker" >
				<option id="0" value="0">上午 9:00 － 11:30</option>
				<option id="1" value="1">中午 11:30 － 12:30</option>
				<option id="2" value="2">下午 13:00 - 16:00</option>
				<option id="3" value="3">傍晚 16:00 - 18:00</option>
			</select>
	<br/>

	<label>备注(不多于500字) : </label>
	<textarea type="text" class="form-control" name="comment"></textarea>
	<br/>

	<input type="hidden" name="address" value={{address.id}}></input>
		
	</form>

	{% if not empty_cart and address %}
	<br/>
	<div class="text-center">
		<a class="btn btn-success btn-lg" href="{{ url_for('mall.mall') }}">继续点餐</a>
		<a class="btn btn-danger btn-lg" href="javascript:$('#add_order').submit()">提交订单</a>
	</div>
	{% endif%}
	
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap-datetimepicker.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/locales/bootstrap-datetimepicker.zh-CN.js') }}"></script>
<script type="text/javascript">
	var shopping_cart_cookies = $.cookie('shopping_cart');
	var shopping_cart = JSON.parse(shopping_cart_cookies);

	$(function() {
		var date = new Date();
		date.setDate(date.getDate() + 1);
		var startDate = date.toLocaleDateString();
		date.setDate(date.getDate() + 7);
		var endDate = date.toLocaleDateString();
		$("#deliver_date").datetimepicker({
			language: "zh-CN",
			format: "yyyy-mm-dd",
	        weekStart: 1,
	        todayBtn:  1,
			autoclose: 1,
			todayHighlight: 1,
			startView: 2,
			minView: 2,
			forceParse: 0,
			initialDate: startDate,
		});
		$("#deliver_date").datetimepicker("setStartDate", startDate);
		$("#deliver_date").datetimepicker("setEndDate", endDate);

	});

	$("button").click(function()
	{
		var btn_id = $(this).attr('id');
		var cookie_change = false;
		if(btn_id == "btn_sub")
		{
			var product_id = parseInt($(this).parent().parent().attr('id'));
			for (var i in shopping_cart)
			{
				if (product_id == shopping_cart[i].id)
				{
					shopping_cart[i].count--;
					cookie_change = true;
				}
				if (shopping_cart[i].count <=0)
				{
					delete shopping_cart[i];
					shopping_cart.splice(i, 1);
				}
			}
		}
		else if(btn_id == "btn_add")
		{
			var product_id = parseInt($(this).parent().parent().attr('id'));
			for (var i in shopping_cart)
			{
				if (product_id == shopping_cart[i].id)
				{

					shopping_cart[i].count = shopping_cart[i].count<999 ? shopping_cart[i].count+1 : shopping_cart[i].count;
					cookie_change = true;
				}
			}
		}
		else if(btn_id == "btn_clear")
		{
			shopping_cart.splice(0, shopping_cart.length);
			cookie_change = true;
		}

		if (cookie_change)
		{
			$.cookie('shopping_cart', JSON.stringify(shopping_cart));
			location.reload();
		}
	});

</script>
{% endblock %}